@tailwind base;
@tailwind components;
@tailwind utilities;


tr {
  transition: background-color 0.2s ease-in-out;
}

#summary {
  transition: background-color 0.2s ease-in-out;
}

.a-like {
  cursor: pointer;
}

a:hover, .a-like:hover {
  text-decoration: underline;
  color: #6c76bf;
}

th {
  font-weight: 600;
}